/* h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
} */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    font-family: 'Inconsolata', monospace;
    --background-color: #6c6a93;
    --header-color: #09FFD4;
    --text-color: #3A3CA3;
    --bullet-color: #77F711;
    --pending-color: #411b22;
    --left-to-do-color: #F0AC26;
}

body{ /*Selects the body tag*/
    background-color: var(--background-color); /*changes background-color*/
}
h1{ /*Selects h1 body tag*/
    color: var(--header-color); /*changes color*/
}
h2,span {
    color: var(--text-color);
}
ul {
    list-style: none; /* Remove default bullets */
}
.left-to-do{
    color: var(--left-to-do-color);
}
li {
    padding: 0.5rem 0;
}
li span {
    color: var(--pending-color);
}
.fa-trash {
    padding: 0 0.5rem;
    cursor: pointer;
}
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--bullet-color); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.completed{/*Selects completed class*/
    color: var(--bullet-color);  /*changes background-color*/
    text-decoration: line-through; /*adds line-through*/
}

span {
    display: block;
}

.del {
    color: white;
    border: 1px solid white;
    width: 60px;
    text-align: center;
    background-color: black;
    margin: 1rem 0;
    padding: 0.25rem;
    cursor: pointer;
}

.contact-form{
    width: 500px;
    display: flex;
    flex-direction: column;
}

textarea { 
    resize: vertical; 
}

.contact-form input, .contact-form select, .contact-form button{
    margin-bottom: 1rem;
}

/* classes for complete and incomplete */
.completed, .yes-follow-up, .yes-linkedin, .yes-twitter {
    color: lime;
}

.not, .no-follow-up, .no-linkedin, .no-twitter {
    color: rgb(121, 0, 0);
}

.no-follow-up::after, .no-linkedin::after, .no-twitter::after {
    content: ' - Pending'
}

.yes-follow-up::after, .yes-linkedin::after, .yes-twitter::after {
    content: ' - Completed!'
}